/**** Button Styling ****/
.mzPrimaryBtn{ 
	background: @primaryBtnColor;
	color: #fff;
}
.mzPrimaryBtnBg{  
	background: @primaryBtnColor;
	border-color: @primaryBtnColor;
} 
.mzPrimaryBtnHover{ 
	border: 2px solid @primaryBtnColor;
	background: #fff;
	color: @primaryBtnColor;
}

/**** Tertiary Button ****/
.mzTertiaryBtn{  
	background: @tertiaryBtnColor;  
	color: #fff;
}
.mzTertiaryBtnHover{  
	border: 2px solid @tertiaryBtnColor;
	background: #fff;
	color: @tertiaryBtnColor; 
}

/**** Button Styling ****/

/**** Custom Changes ****/
body{
  	background: @textColorWhite;
  	font-family: @fontFamily;
  	font-size: 13px;
	color: #626262;
	line-height: 23px;
	letter-spacing: 0.02em;
}
.heading-2{
	color: @secondaryBtnColor;  
	&:after{
		background : @secondaryBtnColor;
	} 
}

.shop-now-widget{ 
	.mz-details-container{
		.mz-btn{
			border: 2px solid @primaryBtnColor;
			.mzPrimaryBtn();
			&:hover{
				.mzPrimaryBtnHover();
			}
		}
	}
}

.yotpo-default-button{
	color: @secondaryBtnColor; 
	&:hover{
		border:2px solid @secondaryBtnColor;
		background: #fff;
		.yotpo-icon-button-text,
		.yotpo-icon-write{
			color: @secondaryBtnColor;
		} 
	}
}

/**** Quick View ****/
.mz-productlist-item{
	button{
		&.mz-quick-view{
			.mzTertiaryBtn();
			border: 2px solid @tertiaryBtnColor;  
			transition: none;
			&:hover{ 
				.mzTertiaryBtnHover(); 
			}
		}
	}
}
#quickViewModal{ 
	.mz-product-quick-view{
		.mz-add-buttons{
			.addtocart{
				.mzPrimaryBtnBg();
			}
		}
	}
}

.mz-sitenav,
.mz-pagefooter{
	background: @siteBaseColor;
}

#mz-drop-zone-custom-gallery {
    float: left;
    width: 100%;
}
/**** Footer ****/
.mz-pagefooter{
	font-family: @fontFamily;
	.mz-footer-top{
		.mz-newsletter{
			form{
				.btn{
					background: @primaryBtnColor;  
				}
			}
		}
		.mz-footer-logo-section{
			.mz-footer-logo{
				img{
					max-width: 100%;
				} 
			}
		}
	}
}

.separator-line {
	background: #000;
	width: 30px;
	height: 2px;
	margin: 18px 0 20px;
}

.mz-product-tabs {
	.nav {
	    &.nav-tabs {
	    	border-bottom: none;
	    	li {
			    float: none;
				display: inline-block;
			    margin-right: 30px;
			    a {
			    	border: none;
			    	border-bottom: 1px solid transparent;
				    color: #999;
				    font-size: 11px;
				    font-weight: 700;
				    letter-spacing: 2px;
				    margin-right: 0;
				    padding: 5px 0;
				    text-transform: uppercase;
				    &:hover {
				    	background: #fff;
				    	border-bottom: 1px solid #000;
				    }
				}
				&.active {
					a {
						color: #000;
						border-radius: 0;
					    border-bottom: 1px solid #000;
					}
				}
			}
		}
	}
	.tab-content {
	    font-size: 14px;
	    line-height: 22px;
	    min-height: 150px;
	    padding: 20px 0;
	}
}
.mz-product {
	.mz-productcodes {
	    font-size: 10px;
	    font-weight: normal;
	    letter-spacing: 3px;
	    .mz-productcodes-productcode-label {
	    	font-weight: normal;
	    }
	    .mz-productcodes-productcode {
	    	color: #000;
	    }
	}
	.mz-productdetail {
		.mz-price {
		    line-height: 30px;
		}
	}
	.mz-retailer-buy {
		margin-top: 50px;
		.mz-button {
			background: #fff;
			color: #000;
			height: 44px;
			margin: 0 20px 20px 0;
			padding: 10px 20px;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
	.mz-product-prop {
	    border-top: 1px solid #e5e5e5;
	    margin-top: 60px;
	    padding: 120px 0;
	    &.mz-product-tabs {
	    	.tab-content {
	    		font-size: 13px;
	    	}
	    }
	    .mz-attribute {
	    	border-bottom: 1px solid rgba(0,0,0,.1);
	    	padding: 5px 0;
	    }
	}
	.mz-productdetail {
		.mz-productdetail-qty {
			height: 44px;
		}
	}
	.mz-productdetail-conversion-controls,
	.mz-productdetail-conversion-buttons {
		margin-top: 20px;
	}
	// Should be add in button page
	button{
	    &#add-to-wishlist {
	        color: #000;
	        border: none;
	        height: 44px;
	        background: #fff;
	        padding: 0;
	        text-decoration: underline;
	        &:hover {
	            text-decoration: none;
	        }
	    }
	}
	button {
	    &#add-to-cart {
	        margin-top: 0;
	        width: 100%;
	        height: 40px;
	        &.is-disabled {
	            background: #d15f2a;
	            border: 1px solid transparent;
	            opacity: 0.5;
	        }
	    }
	}
	#add-to-cart {
		&.mz-productdetail-addtocart{
		    color: #ab2328;
			background: #fff;
		    border: 2px solid #ab2328;
		    font-size: 14px;
		    font-weight: 600;
		    max-width: 200px;
		    height: 46px;
			&:hover {
				color: #fff;
				background: #ab2328;
			}
		}
	}
	.mz-ordered-increments {
	    color: #626262;
	    float: left;
	    width: 100%;
	    text-transform: none;
	}
}

.mz-cart{
	.mz-l-container{
		.mz-button, #cart-guest-checkout{
			border: 2px solid @primaryBtnColor;
			transition:none;
			.mzPrimaryBtnBg();
			&:hover{.mzPrimaryBtnHover();}
		}
		.mz-button[disabled="disabled"]{
			.mzPrimaryBtnBg();
			&:hover{.mzPrimaryBtn();}
		}
	}
	.mz-carttable-total-main-container {
        color: #000;
    }
}



// Ancap USA
.mz-pageheader {
	.mz-header-bottom {
		padding: 5px 0;
		.mz-storebranding{
			.mz-logo{
				background: url("../resources/images/ancap-logo-black.png") left top no-repeat;  
				background-size: contain;
				width: 80px;
				height: 56px;
				margin-top: 5px;
			}
		}
	}
}
.mz-sticky-header {
	background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
	.mz-sitenav {
	    background: transparent;
	    .mz-sitenav-list {
	    	margin-top: 10px;
	    	display: block;
		    text-align: right;
		}
	    .mz-sitenav-item {
		    display: inline-block;
		    margin: 10px 20px;
		    max-width: 100%;
	    	.mz-sitenav-link {
	    		border-bottom: 2px solid transparent;
	    		color: #000;
	    		font-size: 12px;
	    		font-weight: 600;
	    		height: auto!important;
    			letter-spacing: 1px;
	    		padding: 5px 0;
	    		text-transform: uppercase;
	    	}
	    	&:hover {
	    		>.mz-sitenav-link {
				    background: transparent;
				    border-bottom: 2px solid #000;
				    color: #000;
				}
			}
	    }
	}
	.mz-utilitynav {
		margin-top: 24px;
		.mz-utilitynav-link {
		    color: #000;
		    font-weight: 600;
		    .fa {
			    color: #000;
			    font-size: 14px;
			}
		}
		.mz-utilitynav-item {
		    margin-left: 0;
		    text-transform: uppercase;
		    &:last-child {
			    margin: 0 0 0 18px;
			}
		}
		.mz-global-cart {
			.mz-utilitynav-link {
			    .fa {
				    display: inline-block;
				    margin-right: 10px;
				}
			}
		}
	}
	&.fixed {
	    background: #fff;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 99;
	    .mz-header-bottom {
	    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			.mz-storebranding {
				.mz-logo {
					background: url("../resources/images/ancap-logo-black.png") left top no-repeat;
					background-size: contain;
				}
			}
			.mz-utilitynav {
				margin-top: 24px;
				.mz-utilitynav-item {
					.mz-utilitynav-link {
						color: #000;
						.fa {
						    color: #000;
						    font-size: 14px;
						}
					}
				}
			}
		}
		.mz-sitenav {
			.mz-sitenav-item {
				.mz-sitenav-link {
				    color: #000;
				}
				&:hover {
					>.mz-sitenav-link {
					    border-bottom: 2px solid #000;
					}
				}
			}
		}
	}
}
.mz-homepage {
	.mz-sticky-header {
		background: transparent;
		.mz-header-bottom {
			.mz-storebranding {
				.mz-logo {
					background: url("../resources/images/ancap-logo-white.png") left top no-repeat;
					background-size: contain;
				}
			}
		}
		.mz-sitenav {
		    .mz-sitenav-item {
		    	.mz-sitenav-link {
		    		border-bottom: 2px solid transparent;
		    		color: #fff;
		    	}
		    	&:hover {
		    		>.mz-sitenav-link {
					    border-bottom: 2px solid #fff;
					}
				}
		    }
		}
		.mz-utilitynav {
			.mz-utilitynav-link {
			    color: #fff;
			    .fa {
				    color: #fff;
				}
			}
		}
		&.fixed {
		    background: #fff;
		    .mz-header-bottom {
				.mz-storebranding {
					.mz-logo {
						background: url("../resources/images/ancap-logo-black.png") left top no-repeat;
						background-size: contain;
					}
				}
			}
			.mz-sitenav {
				.mz-sitenav-item {
					.mz-sitenav-link {
					    color: #000;
					}
					&:hover {
						>.mz-sitenav-link {
						    border-bottom: 2px solid #000;
						}
					}
				}
			}
		}
	}
}
.fixed-header {
    margin-top: 0;
}
.mz-sitenav {
	.mz-sitenav-sub-container {
		background: rgba(27,22,28,0.95);
		padding: 10px 25px 35px;
		.mz-sitenav-all-categories {
			padding: 0;
			.mz-sitenav-sub {
			    background: transparent;
			    margin-top: 20px;
			    .mz-sitenav-item {
			    	margin: 0;
					.mz-sitenav-link {
						&.sub-link {
							border-bottom: 1px solid rgba(255,255,255,0.3);
							color: #fff;
    						display: inline-block;
							font-size: 11px;
							font-weight: 600;
							margin-bottom: 15px;
						}
					}
					.mz-sitenav-sub-sub {
						.mz-sitenav-item {
							.mz-sitenav-link {
								background: transparent;
								color: #c8c8c8;
								font-size: 11px;
							}
							&:hover {
								.mz-sitenav-link {
									color: #fff;
									background: transparent;
									border-bottom-color: transparent;									
								}
							}
						}
					}
				}
			}
		}
	}
	.mz-sitenav-item {
		&.has-dropdown {
			&:hover {
				.top-arrow {
    				display: none;
				}
			}
		}
	}
}

#searchPopup {
	background: #fff;
	.modal-dialog {
	    width: 100%;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	}
	.modal-content {
		border: none;
	    border-radius: 0;
	    -webkit-box-shadow: none;
    	box-shadow: none;
	    min-height: 100%;
	    padding: 14px 60px;
	}
	button {
		&.close {
		    position: absolute;
		    top: 20px;
		    right: 20px;
		    z-index: 1;
		}
	}
	.mz-searchbox {
		.mz-searchbox-field {
		    border: none;
		    border-bottom: 2px solid #000;
		    display: block;
		    height: auto;
		    .twitter-typeahead {
			    display: block !important;
			}
		}
		.tt-dataset-terms, 
		.tt-dataset-categories {
		    display: none;
		}
		.tt-dropdown-menu {
		    border: none;
		    margin-top: 5px;
		    width: 100%;
		}
		.tt-dataset-pages {
		    .tt-suggestions {
		    	p {
				    display: none;
				}
			}
		}
	}
}

.mz-pagefooter {
    background: #fff;
    float: left;
    width: 100%;
    clear: both;
    .fa {
	    color: #9a9a9a;
	    font-size: 26px;
	    line-height: 1.1;
	}
    .mz-footer-top {
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    padding: 120px 0;
	    text-align: center;
	    ul {
	    	li {
	    		display: inline-block;
	    		float: left;
    			width: 33.33%;
	    	}
	    }
	    h6 {
		    font-size: 13px;
		    letter-spacing: 1px;
		    line-height: 20px;
		    margin: 30px 0;
		}
	}
	.mz-footer-bottom {
		background: #f5f5f5;
		border-top: none;
		padding: 142px 0;
		text-align: center;
		.mz-footer-nav {
			display: inline-block;
		}
		ul {
			li {
				display: inline-block;
				padding: 0 22px;
				a {
					color: #000;
					display: inline-block;
					font-size: 14px;
					line-height: 26px;
					text-transform: capitalize;
					&:hover {
						color: #575757;
						text-decoration: none;
					}
				}
			}
		}
		.mz-social-icon {
			display: inline-block;
		}
	}
	.mz-pagefooter-copyright {
	    background: #252525;
	    color: #888888;
	    font-size: 11px;
	    line-height: 18px;
	    padding: 21px 45px;
	    text-transform: uppercase;
	}
}


.mz-features-container {
	padding: 120px 0;
	h3 {
		color: @goldenColor;
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 20px;
		text-align: center;
		text-transform: uppercase;
	}
}

/*** Home Page Gallery and Custom ***/
.mz-grid-gallery {
	border-top: 1px solid #e5e5e5;
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: 24.98%;
		vertical-align: top;
		text-align: center;
		transition: all 0.3s ease 0s;
		.mz-gallery-img {
			a {
				display: block;
			}
			&:hover {
			    background: #000;
			    a {
				    -webkit-transition: all .3s ease;
				       -moz-transition: all .3s ease;
				            transition: all .3s ease;
				    opacity: 0.85;
				}
			    img {
				    transform: scale(1.1,1.1);
				    transition: all 0.5s;
				}
			}
		}
	}
	.mz-title {
	    font-size: 13px;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    position: absolute;
	    width: 100%;
	    bottom: 40px;
	    a {
	    	color: #000;
	    }
	}
}

.mz-custom-work {
	float: left;
	width: 100%;
	padding: 120px 0;
	h2 {
		color: @goldenColor;
	    font-size: 52px;
	    font-weight: 600;
	    margin: 0 0 75px;
	    text-align: center;
	}
	// li {
	// 	.mz-gallery-img {
	// 		&:hover {
	// 		    background: #000;
	// 		    -webkit-transition: all 0.3s ease 0s;
	// 		   	   -moz-transition: all 0.3s ease 0s;
	// 		            transition: all 0.3s ease 0s;
	// 		    a {
	// 			    -webkit-transition: all .3s ease;
	// 			       -moz-transition: all .3s ease;
	// 			            transition: all .3s ease;
	// 			    opacity: 0.5;
	// 			}
	// 		    img {
	// 			    transform: scale(1,1);
	// 			    cursor: url("../resources/images/icon-zoom-white.png"), pointer;
	// 			}
	// 			+ .mz-title {
	// 				background: #fff;
	// 			    position: absolute;
	// 			    bottom: -34px;
 //    				-webkit-transition: all .3s ease;
 //    				   -moz-transition: all .3s ease;
	// 			    		transition: all .3s ease;
	// 			}
	// 		}
	// 	}
	// }
	// &.mz-grid-gallery {
	// 	.mz-title {
	// 	    position: static;
	// 	    padding: 40px 15px 30px;
	// 	}
	// }
}
.mz-ancap-btn {
	background: #fff;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 25px auto 0;
    padding: 18px 35px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
    	background: #000;
    	color: #fff;
    	text-decoration: none;
    }
}


.mz-grid-gallery-popup {
    border-top: 1px solid #e5e5e5;
    ul {
	    font-size: 0;
	    -ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	    display: -ms-flexbox;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: flex;
	    flex-wrap: wrap;
	    li {
		    display: inline-block;
		    overflow: hidden;
		    position: relative;
		    width: 24.98%;
		    vertical-align: top;
		    text-align: center;
		    transition: all 0.3s ease 0s;
		    .mz-gallery-img {
		    	a {
				    display: block;
				}
			}
			.mz-title {
			    background: #fff;
			    width: 100%;
			    padding: 40px 15px 30px;
			    text-transform: uppercase;
			    a {
					color: #888888;
					font-size: 13px;
					letter-spacing: 4px;
			    }
			}
			&:hover {
				.mz-gallery-img {
				    background: #000;
				    -webkit-transition: all 0.3s ease 0s;
				       -moz-transition: all 0.3s ease 0s;
				            transition: all 0.3s ease 0s;
				    a {
					    opacity: 0.5;
					    -webkit-transition: all .3s ease;
					       -moz-transition: all .3s ease;
					            transition: all .3s ease;
					}
					img {
					    transition: all 0.5s;
					    cursor: url("../resources/images/icon-zoom-white.png"), pointer;
					}
				}
				.mz-title {
				    position: absolute;
				    bottom: 50px;
				    -webkit-transition: all .3s ease;
				       -moz-transition: all .3s ease;
				            transition: all .3s ease;
		            a {
						color: #000;
					}
				}
			}
		}
	}
}

/***\ Home Page Gallery and Custom***/
.mz-title-breadcrumbs {
    float: left;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 80px 0;
    margin-top: 25px;
    .mz-category-name {
    	h1 {
    		&.mz-pagetitle {
				color: #fff;
				border-bottom: none;
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 6px;
				line-height: 45px;
				margin: 0 0 5px;
				padding-bottom: 0;
    		}
    	}		
    	p {
    		font-size: 14px;
    		letter-spacing: 1px;
    		margin: 0;
    	}
    }
    .separator-line {
    	background: #fff;
    	margin: 20px 0 0;
    	-webkit-transition: width 1s;
    				transition: width 1s;
    }
    &:hover {
    	.separator-line {
    		width: 80px;
    	}
    }
}
.mz-category {
    .mz-productlist-tiled {
        .mz-productlist-item {
            min-height: 310px; 
        }
    }
    .mz-productlisting-info {
		.mz-new-arrival-tag,
		.mz-quick-view,
		#product-rating,
		.mz-button,
		.mz-product-msg {
			display: none;
	    	opacity: 0;
		}
		.see-price-in-cart {
			display: none!important;
		}
	}
}

/*** About Us ***/
.mz-aboutus {
	.mz-l-pagecontent {
		&.container {
			width: 100%;
			max-width: 100%;  
		}
	}
}
.mz-aboutus-banner {
	background-image: url("http://cdn-sb.mozu.com/25517-m1/cms/files/8847c367-f497-4304-93ac-5c49309a80b6");
	background-position: center center;
    background-size: cover;
    padding: 120px 0;
	.mz-aboutus-title {
		color: #000;
		border: 2px solid #6d6d6d;
		padding: 20px 20px 27px;
		font-weight: 400; 
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-size: 14px;
			line-height: 26px;
			&.mz-us {
				font-size: 50px;
				font-weight: 700;
				line-height: 40px;
			}
		}
	}
}
.mz-aboutus-container {
	max-width: 768px;
	margin: 0 auto;
	padding: 120px 0;
	.mz-product-tabs {
		.nav {
			&.nav-tabs {
			    border-bottom: 1px solid #ccc;
			    height: 70px;
			    margin-bottom: 30px;
			}
		}
	}
	.mz-address {
		color: #7f7f7f;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 24px;
		text-transform: uppercase;
		.fa {
			font-size: 18px;
			margin-right: 4px;
			width: 20px;
			text-align: center;
		}
		a {
			color: #000;
			&:hover {
				color: #575757;
				text-decoration: none;
			}
		}
	}
	.mz-aboutus-desc {
		color: #ababab;
		font-size: 14px;
		line-height: 26px;
	}
}
/***\ About Us ***/


/*** Quality Page ***/
.mz-quality {
	#page-wrapper {
	    height: 100%;
	}
	.mz-l-pagecontent {
		&.container {
			max-width: 100%;
			width: 100%;
			height: 100%;
			padding: 75px 0px 0;
		}
	}
	.mz-quality-listing {
	    background: #f1e9e1;
	    padding-bottom: 60px;
	    .mz-quality-list {
		    margin-top: 50px;
		    img {
			    display: block;
			    margin: 0 auto;
			}
			h3 {
			    font-weight: 600;
			    line-height: 30px;
			    text-transform: uppercase;
			}
		}
	}
	.mz-video-container {
	    position: relative;
	    min-height: 100%;
	    .mz-video-wrapper {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    overflow: hidden;
		}
		video {
		    background-color: #000;
		    min-width: 100%;
		    min-height: 100%;
		    position: absolute;
		    top: 50%;
		    left: 0;
		    -webkit-transform: translate(0, -50%);
		        -ms-transform: translate(0, -50%);
		            transform: translate(0, -50%);
		}
		.mz-gradient-overlay {
		    background: rgba(167,73,28,0.9);
		    background: -moz-linear-gradient(left, rgba(167,73,28,0.9) 0%, rgba(48,41,39,0.9) 100%);
		    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(167,73,28,0.9)), color-stop(100%, rgba(48,41,39,0.9)));
		    background: -webkit-linear-gradient(left, rgba(167,73,28,0.9) 0%, rgba(48,41,39,0.9) 100%);
		    background: -o-linear-gradient(left, rgba(167,73,28,0.9) 0%, rgba(48,41,39,0.9) 100%);
		    background: -ms-linear-gradient(left, rgba(167,73,28,0.9) 0%, rgba(48,41,39,0.9) 100%);
		    background: linear-gradient(to right, rgba(167,73,28,0.9) 0%, rgba(48,41,39,0.9) 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9a562', endColorstr='#608aab', GradientType=1 );
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    top: 0px;
		    opacity: 0.8;
		    z-index: 1;
		}
	}
	.mz-advanced-features {
	    background: url("../cms/files/ancap-quality-black.jpg");
	    padding: 120px 15px;
	    float: left;
	    width: 100%;
	    h3 {
		    color: #fff;
		    font-weight: 600;
		    letter-spacing: 2px;
		    margin: 0;
		    text-transform: uppercase;
		}
		p {
		    font-size: 14px;
		    line-height: 26px;
		    margin-bottom: 35px;
		}
	}
	.mz-pagefooter {
		clear: both;
	}
}
/***\ Quality Page ***/


/*** Custom Page ***/
.mz-custom {
	.mz-l-pagecontent {
		&.container {
			max-width: 100%;
			padding: 75px 0px 0;
		}
	}
	h3 {
		color: #000;
	    font-size: 20px;
	    font-weight: 600;
	    margin: 0;
	    text-align: center;
		text-transform: uppercase;
	}

	//Title with breadcrumbs
	.mz-title-breadcrumbs {
	    background: #fff;
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
	   	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    color: #000;
	    margin-top: 0;
	    h1 {
    		&.mz-pagetitle {
				color: #000;
    		}
    	}
	    .separator-line {
	    	background: #000;
	    }
	    .mz-breadcrumbs {
	    	.mz-breadcrumb-link,
	    	.mz-breadcrumb-current {
    			color: #000;
    		}
    		a {
    			&:hover {
    				color: @goldenColor;
    				text-decoration: none;
    			}
			}
		}
	}

	//Custom description
	.mz-custom-summary-bg {
		background: #f6f6f6;
		float: left;
		width: 100%;
		.mz-custom-page-title {
			padding: 100px 0 60px;
			text-align: center;
			h1 {
				&.mz-page-title {
					font-size: 50px;
					font-weight: 600;
					line-height: 45px;
					margin: 0 15px;
				}
			}
			.separator-line {
			    display: inline-block;
			}
		}
		.mz-custom-summary {
		    > div {
			    margin-bottom: 50px;
			}
			h3 {
			    color: @goldenColor;
			    font-size: 20px;
			    font-weight: 700;
			    margin-bottom: 10%;
			}
			p {
			    font-size: 14px;
			    line-height: 26px;
			    text-align: justify;
			}
		}
	}

	//Gallery
	.mz-custom-work {
	    padding: 120px 0 30px;
	}
	.mz-grid-gallery-popup {
		border-bottom: 1px solid #e5e5e5;
		h3 {
			letter-spacing: 2px;
			padding-bottom: 75px;
		}
	}

	//Order Process
	.mz-order-process {
		padding-top: 50px;
	    text-align: center;
	    > div {
		    margin-bottom: 30px;
		}
		span {
		    background: #000;
		    color: #fff;
		    display: block;
		    font-size: 20px;
		    width: 47px;
		    margin: 0 auto 20px;
		    padding: 11px 0;
		}
		h3 {
		    font-weight: 700;
		    letter-spacing: 2px;
		    padding-bottom: 90px;
		}
		h6 {
		    margin: 0px 0 7px;
		    font-weight: 600;
		    letter-spacing: 1px;
		    font-size: 13px;
		    line-height: 20px;
		    text-transform: uppercase;
		}
		p {
		    width: 90%;
		    margin: 0 auto;
		}
		a {
		    color: #000;
		    text-decoration: underline;
		    &:hover {
			    color: #575757;
			    text-decoration: none;
			}
		}
	}

	//Pricing
	.mz-pricing {
	    padding: 50px 0;
	    h3 {
	    	font-weight: 700;
	    	letter-spacing: 2px;
	    	padding: 25px 0;
	    }
		.mz-pricing-tabs {
			float: none;
    		max-width: 1015px;
    		margin: 0 auto;
			.nav-tabs {
				margin-bottom: 25px;
				li {
					a {
						font-size: 11px;
						font-weight: 600;
						color: #575757;
						letter-spacing: 2px;
						line-height: 24px;
						text-transform: uppercase;
					}
				}
			}
			.tab-content {
    			font-size: 13px;
    		}
    	}
		.mz-pricing-table {
		    max-width: 760px;
	    	margin: 25px auto 0;
		    text-align: center;
		    .mx-pricing-box {
		     	border-right: 1px solid rgba(0, 0, 0, 0.075);
		    }
		    .mz-pricing-title {
		    	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
				padding: 30px 0;
		    	h4 {
		    		font-size: 20px;
				    font-weight: 400;
				    letter-spacing: 1px;
				    margin: 0;
				}
			}
			.mz-pricing-price {
			    color: #333;
			    padding: 35px 0;
			    position: relative;
			    letter-spacing: 0px;
			    min-height: 175px;
			    span {
				    display: block;
				    font-size: 28px;
				    font-weight: 400;
				    margin-bottom: 10px;
				    vertical-align: top;
				    strong {
					    font-size: 18px;
					    font-weight: 600;
					}
					&.mz-price-tenure {
					    color: #999;
					    font-size: 16px;
					    margin: 0;
					    padding-top: 15px;
					}
				}
				&:after {
				    content: "";
				    border-top: 2px solid rgba(0, 0, 0, 1);
				    width: 80px;
				    position: absolute;
				    bottom: 0;
				    left: 50%;
				    transform: translateX(-50%);
				}
			}
			.mz-pricing-features {
				ul {
				    padding: 35px 0;
				    li {
					    padding: 3px 0;
					}
					strong {
					    font-weight: 600;
					}
				}
			}
		}
	}
		
	// Custom Form
	.mz-custom-form-section {
		border-top: 1px solid #e5e5e5;
		.mz-custom-form {
		    background: #f5f5f5;
		    max-width: 576px;
		    margin: 50px auto;
		    padding: 5%;
		    h3 {
		    	font-size: 20px;
			    letter-spacing: 2px;
			    line-height: 30px;
			    margin: 0 0 20px;
			    text-align: left;
			}
			p {
			    font-size: 14px;
			    line-height: 26px;
			    margin: 13px 0;
			}
			label {
			    font-weight: 500;
			    margin-bottom: 10px;
			    text-transform: uppercase;
			}
			.form-group {
				margin-bottom: 20px;
			}
			.form-control {
			    border: 1px solid #dfdfdf;
			    border-radius: 0;
			    -webkit-box-shadow: none;
			            box-shadow: none;
			    font-size: 11px;
			    height: auto;
			    letter-spacing: 1px;
			    line-height: 23px;
			    margin: 0;
			    padding: 8px 15px;
			    resize: none;
			    &:focus, 
				&:focus {
				    border: 1px solid #989898;
				    -webkit-box-shadow: none;
				            box-shadow: none;
				}
			}
			input:invalid, 
			textarea:invalid {
			    background-color: #fff;
			}
			.mz-file-managed {
				input[type="file"] {
				    float: left;
				    margin-bottom: 0;
				    width: 80%;
				}
				input[type="submit"] {
				    width: 20%;
				}
			}
			.mz-button {
			    font-size: 11px;
			    letter-spacing: 1px;
			    line-height: 19px;
			    margin-top: 0;
			    padding: 9px 14px;
			}
			.mz-file-description {
			    font-size: 10px;
			    float: left;
			    line-height: 15px;
			    margin: 5px 0 15px;
			    width: 100%;
			}
		}
	}

	//FAQs Section
	.mz-faqs-accordion {
	    float: none;
	    margin: 0 auto 50px;
	    h3 {
		    letter-spacing: 2px;
	    	padding-bottom: 25px;
	    }
	    .panel {
		    border: none;
		    border-radius: 0;
		    border-top: 1px solid rgba(0,0,0,.15);
		    -webkit-box-shadow: none;
    				box-shadow: none;
		}
		.panel-heading {
		    padding: 0;
		}
		.panel-group {
			.panel-default {
				> .panel-heading {
				    background-color: #fff;
				}
			}
			.panel {
				+ .panel {
				    margin-top: 0;
				}
			}
		}
		.panel-title {
		    font-size: 14px;
		    letter-spacing: 2px;
		    margin: 0;
		    position: relative;
		    text-transform: uppercase;
		    a {
			    color: #000;
			    display: block;
			    font-weight: 600;
			    line-height: 26px;
			    padding: 20px 25px;
				&:after {
				    content: "\f068";
				    color: #9a9a9a;
				    font-size: 10px;
				    font-family: "FontAwesome";
				    position: absolute;
				    top: 23px;
				    right: 25px;
				}
				&.collapsed {
				    color: #767676;
				    font-weight: 400;
				    &:after {
					    content: "\f067";
					}
				}
				&:hover,
				&:visited,
				&:focus {
				    text-decoration: none;
				}
			}
		}
		.panel-body {
		    padding: 0 60px 25px 25px;
		    p {
			    line-height: 23px;
			    margin-bottom: 20px;
			}
		}
	}
}
/***\ Custom Page ***/


/*** Buy ***/
.mz-buy {
	.mz-l-pagecontent {
		&.container {
			max-width: 100%;
			padding: 75px 0px 0;
		}
	}
	.mz-title-breadcrumbs {
	    background-image: url('../resources/images/ancap-painted-rim-buy-page-new.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% -11%;
	    background-attachment: fixed;
	    margin-top: 0;
	    position: relative;
	    &:before {
		    content: "";
		    display: block;
		   	position: absolute;
		    top: 0;
	    	width: 100%;
	    	height: 100%;
		    background: rgba(0,0,0,0.7);
		}
		.mz-breadcrumbs {
		    padding-top: 50px;
		}
	}
	//Our retailers
	h2 {
		color: @goldenColor;
		font-size: 39px;
		font-weight: 600;
		margin: 0;
		padding-bottom: 20px;
	}
	.mz-our-retailers {
		padding: 120px 0;
		text-align: center;
		.mz-retailer-name {
			margin-top: 30px;
		}
	}
	//Creating an account
	.mz-creating-an-account {
		border-top: 1px solid #e5e5e5;
		padding: 50px 0;
		text-align: center;
		a {
			color: #000;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	// Registeration Form
	.mz-custom-form-section {
		border-top: 1px solid #e5e5e5;
		background: #f5f5f5;
		.mz-custom-form {
		    max-width: 576px;
		    margin: 50px auto;
		    padding: 5%;
			label {
			    font-weight: 500;
			    margin-bottom: 10px;
			    text-transform: uppercase;
			}
			.form-control {
			    border: 1px solid #dfdfdf;
			    border-radius: 0;
			    -webkit-box-shadow: none;
			            box-shadow: none;
			    font-size: 11px;
			    height: auto;
			    letter-spacing: 1px;
			    line-height: 23px;
			    margin: 0 0 20px 0;
			    padding: 8px 15px;
			    resize: none;
			    &:focus, 
				&:focus {
				    border: 1px solid #989898;
				    -webkit-box-shadow: none;
				            box-shadow: none;
				}
			}
			.mz-description {
				margin-top: 0;
			}
			.mz-button {
			    font-size: 11px;
			  	margin-bottom: 10px;
			}
		}
	}
}
/***\ Buy ***/


/*** Gallery Popup ***/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.98;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
.mfp-bg {
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1042;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    .mfp-container {
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    padding: 0 8px;
	    &:before {
		    content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		}
		.mfp-content {
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    margin: 0 auto;
		    text-align: left;
		    z-index: 1045;
		}
	}
}
.mfp-align-top .mfp-container:before {
    display: none;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}
.mfp-ajax-cur {
    cursor: progress;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.mfp-loading.mfp-figure {
    display: none;
}
.mfp-hide {
    display: none !important;
}
.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
    a {
	    color: #ccc;
	    &:hover {
		    color: #fff;
		}
	}
}
.mfp-s-ready .mfp-preloader {
    display: none;
}
.mfp-s-error .mfp-content {
    display: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.mfp-bottom-bar {
	display: none;
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
}
.mfp-close-btn-in .mfp-close {
    color: #333;
}
.mfp-image-holder,
.mfp-iframe-holder {
	.mfp-close {
	    background: #000;
	    color: #fff;
	    font-size: 37px;
	    line-height: 1px;
	    right: -6px;
	    width: 34px;
	    height: 34px;
	    padding: 0px;
	    top: 30px;
	}
}
button {
	&.mfp-arrow {
	    background: transparent;
	    border: 0;
	    z-index: 9999;
	    position: absolute;
	    margin: 0;
	    top: 50%;
	    margin-top: -55px;
	    padding: 0;
	    width: 90px;
	    height: 110px;
	    -webkit-tap-highlight-color: transparent;
	    &:before,
		&:after {
		    content: '';
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    left: 0;
		    top: 0;
		    margin-top: 35px;
		    margin-left: 35px;
		    border: medium inset transparent; 
		}
		&:after {
		    border-top-width: 13px;
		    border-bottom-width: 13px;
		    top: 8px;
		}
		&:before {
		    border-top-width: 21px;
		    border-bottom-width: 21px;
		}
		&.mfp-arrow-left {
		  	left: 0;
		  	&:after {
			    margin-left: 31px;
			    margin-left: 25px;
			    border-right: 17px solid #fff;
			}
			&:before {
			    margin-left: 19px;
			    border-right: 27px solid #000;
			}
		}
		&.mfp-arrow-right {
		 	right: 0;
		 	&:after {
			    margin-left: 39px;
			    border-left: 17px solid #fff;
			}
			&:before {
			    border-left: 27px solid #000;
			}
		}
	}
}
.mfp-iframe-holder {
  	padding-top: 40px;
  	padding-bottom: 40px;
  	.mfp-content {
	    line-height: 0;
	    width: 100%;
	    max-width: 900px;
	}
	.mfp-close {
	    top: -40px;
	}
}
.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
  	iframe {
	    position: absolute;
	    display: block;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	    background: #000;
	}
}
img {
	&.mfp-img {
	    width: auto;
	    max-width: 100%;
	    padding: 30px 0;
	    margin: 0 auto;
	}
}
.mfp-figure {
    line-height: 0;
    small {
	    color: #BDBDBD;
	    display: block;
	    font-size: 12px;
	    line-height: 14px;
	}
	figure {
	    margin: 0;
	}
}
.mfp-image-holder .mfp-content {
    max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
/***\ Gallery Popup ***/


@media screen and (min-width: 768px) and (max-width: 991px) {
	.mz-custom-work {
    	padding: 90px 0;
	}
	.mz-features-container {
	    padding: 90px 0;
	}
	.mz-aboutus-banner {
	    padding: 90px 0;
	}
	.mz-grid-gallery {
		li {
		    width: 49.98%;
		}
	}
	.mz-grid-gallery-popup {
		ul {
			li {
			    width: 50%;
			}
		}
	}
	.mz-buy {
		.mz-our-retailers {
		    padding: 90px 0;
		}
	}
	.mz-quality {
		.mz-advanced-features {
		    padding: 90px 15px;
		}
	}
	.mz-product {
		.mz-product-prop {
		    padding: 90px 0;
		}
	}
}

@media screen and (max-width: 479px) {
	.mz-category {
		.mz-l-paginatedlist {
			.mz-productlist-tiled {
				.mz-productlist-item {
					width: 100%;
				}
			}
		}
	}
}
.paypal-disable{
	opacity: 0.5;
}
