/**** Button Styling ****/
.mzPrimaryBtn{ 
	background: @primaryBtnColor;
	color: #fff;
}
.mzPrimaryBtnBg{  
	background: @primaryBtnColor;
	border-color: @primaryBtnColor;
} 
.mzPrimaryBtnHover{ 
	border: 2px solid @primaryBtnColor;
	background: #fff;
	color: @primaryBtnColor;
}

/**** Tertiary Button ****/
.mzTertiaryBtn{  
	background: @tertiaryBtnColor;  
	color: #fff;
}
.mzTertiaryBtnHover{  
	border: 2px solid @tertiaryBtnColor;
	background: #fff;
	color: @tertiaryBtnColor; 
}

/**** Button Styling ****/

/**** Custom Changes ****/
body{
  	background: @textColorWhite;
  	font-family: @fontFamily;
  	font-size: 13px;
	color: #626262;
	line-height: 23px;
	letter-spacing: 0.02em;
}
.container {
    max-width: 1183px;
}
.mz-button {
	letter-spacing: 2px;
}

/**** Site Navigation ****/
.mz-sitenav{
	.mz-sitenav-item{
		&:hover{
			>.mz-sitenav-link{ 
				background: #5e5f5e;
			}
		}
		.mz-sitenav-link{
			&.is-current{
				background: #5e5f5e;
			} 
		} 
	} 
}  



.heading-2{
	color: @secondaryBtnColor;  
	&:after{
		background : @secondaryBtnColor;
	} 
}

.shop-now-widget{ 
	.mz-details-container{
		.mz-btn{
			border: 2px solid @primaryBtnColor;
			.mzPrimaryBtn();
			&:hover{
				.mzPrimaryBtnHover();
			}
		}
	}
}

.yotpo-default-button{
	color: @secondaryBtnColor; 
	&:hover{
		border:2px solid @secondaryBtnColor;
		background: #fff;
		.yotpo-icon-button-text,
		.yotpo-icon-write{
			color: @secondaryBtnColor;
		} 
	}
}

/**** Quick View ****/
.mz-productlist-item{
	button{
		&.mz-quick-view{
			.mzTertiaryBtn();
			border: 2px solid @tertiaryBtnColor;  
			transition: none;
			&:hover{ 
				.mzTertiaryBtnHover(); 
			}
		}
	}
}
#quickViewModal{ 
	.mz-product-quick-view{
		.mz-add-buttons{
			.addtocart{
				.mzPrimaryBtnBg();
			}
		}
	}
}
.mz-login-model,
.mz-login-checkout-model{
	.modal-body{
		.mz-button{
			.mzPrimaryBtn();
			border: 2px solid @primaryBtnColor;
			transition:none;
			&:hover{.mzPrimaryBtnHover();}
		}
	}
}
.mz-sitenav,
.mz-pagefooter{
	background: @siteBaseColor;
}
.mz-table.mz-table-cart{
	.mz-carttable-header{ 
		background: @primaryBtnColor;
	}
}

/**** Footer ****/
.mz-pagefooter{
	font-family: @fontFamily;
	.mz-footer-top{
		.mz-newsletter{
			form{
				.btn{
					background: @primaryBtnColor;  
				}
			}
		}
		.mz-footer-logo-section{
			.mz-footer-logo{
				img{
					max-width: 100%;
				} 
			}
		}
	}
}

/**** Category and checkout pages ****/
.mz-category, .mz-confirmation, .mz-checkout {
	.mz-button{
		transition:none;
		border: 2px solid @primaryBtnColor;
		.mzPrimaryBtn();
		&:hover{
			.mzPrimaryBtnHover();
			background: #fff !important;
		}
	}
	.mz-button[disabled="disabled"]{
		.mzPrimaryBtnBg();
		&:hover{
			.mzPrimaryBtn();
			background:@primaryBtnColor !important;
		}
	}
	.mz-checkoutform{
		.mz-checkoutform-couponcode{
			.mz-button{
				transition:none;
				border: 2px solid @primaryBtnColor;
				.mzPrimaryBtn();
				&:hover{
					.mzPrimaryBtnHover();
				}
			}
			.mz-button[disabled]{
				.mzPrimaryBtnBg();
				&:hover{
					border-color: @primaryBtnColor;
					.mzPrimaryBtn();
				}
			}
		} 
		.mz-formstep-header.mz-checkoutform-header{
			background: @siteBaseColor;
		}
	} 
}


.mz-product-tabs {
	.nav {
	    &.nav-tabs {
	    	border-bottom: none;
	    	li {
			    float: none;
				display: inline-block;
			    margin-right: 30px;
			    a {
			    	border: none;
			    	border-bottom: 1px solid transparent;
				    color: #999;
				    font-size: 11px;
				    font-weight: 700;
				    letter-spacing: 2px;
				    margin-right: 0;
				    padding: 5px 0;
				    text-transform: uppercase;
				    &:hover {
				    	background: #fff;
				    	border-bottom: 1px solid #000;
				    }
				}
				&.active {
					a {
						color: #000;
						border-radius: 0;
					    border-bottom: 1px solid #000;
					}
				}
			}
		}
	}
	.tab-content {
	    font-size: 14px;
	    line-height: 22px;
	    min-height: 150px;
	    padding: 20px 0;
	}
}
.mz-product {
	.mz-productcodes {
	    font-size: 10px;
	    font-weight: normal;
	    letter-spacing: 3px;
	    .mz-productcodes-productcode-label {
	    	font-weight: normal;
	    }
	    .mz-productcodes-productcode {
	    	color: #000;
	    }
	}
	.separator-line {
    	background: #000;
    	width: 30px;
    	height: 2px;
    	margin: 18px 0 20px;
    }
    .options {

    }
	.mz-productdetail {
		.mz-price {
		    line-height: 30px;
		}
	}
	.mz-retailer-buy {
		.mz-button {
			background: #fff;
			border-color: #000;
			color: #000;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 2px;
			margin-right: 20px;
			padding: 8px 20px 9px;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
	.mz-product-prop {
	    border-top: 1px solid #e5e5e5;
	    padding: 120px 0;
	}
	#add-to-cart.mz-productdetail-addtocart{
	    color: #ab2328;
		background: #fff;
	    border: 2px solid #ab2328;
	    font-size: 14px;
	    font-weight: 600;
	    height: 42px;
		&:hover {
			color: #fff;
			background: #ab2328;
		}
	}
	.mz-ordered-increments {
	    color: #626262;
	    float: left;
	    width: 100%;
	    text-transform: none;
	}
}

.mz-cart{
	.mz-l-container{
		.mz-button, #cart-guest-checkout{
			border: 2px solid @primaryBtnColor;
			transition:none;
			.mzPrimaryBtnBg();
			&:hover{.mzPrimaryBtnHover();}
		}
		.mz-button[disabled="disabled"]{
			.mzPrimaryBtnBg();
			&:hover{.mzPrimaryBtn();}
		}
	}
}



// Ancap USA
.mz-pageheader {
	.mz-header-bottom {
		padding: 5px 0;
		.mz-storebranding{
			.mz-logo{
				background: url("../resources/images/ancap-logo-black.png") left top no-repeat;  
				background-size: contain;
				width: 80px;
				height: 56px; 
			}
		}
	}
}
.mz-sticky-header {
	background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
	.mz-sitenav {
	    background: transparent;
	    .mz-sitenav-list {
	    	margin-top: 10px;
		    text-align: right;
		}
	    .mz-sitenav-item {
		    display: inline-block;
		    margin: 10px 20px;
		    max-width: 100%;
	    	.mz-sitenav-link {
	    		border-bottom: 2px solid transparent;
	    		color: #000;
	    		font-size: 12px;
	    		font-weight: 600;
	    		height: auto!important;
    			letter-spacing: 1px;
	    		padding: 5px 0;
	    		text-transform: uppercase;
	    	}
	    	&:hover {
	    		>.mz-sitenav-link {
				    background: transparent;
				    border-bottom: 2px solid #000;
				    color: #000;
				}
			}
	    }
	}
	.mz-utilitynav {
		margin-top: 24px;
		.mz-utilitynav-link {
		    color: #000;
		    font-weight: 600;
		    .fa {
			    color: #000;
			    font-size: 14px;
			}
		}
		.mz-utilitynav-item {
		    margin-left: 0;
		    text-transform: uppercase;
		    &:last-child {
			    margin: 5px 0 0 18px;
			}
		}
		.mz-global-cart {
			.mz-utilitynav-link {
			    .fa {
				    display: inline-block;
				    margin-right: 10px;
				}
			}
		}
	}
	&.fixed {
	    background: #fff;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: 99;
	    .mz-header-bottom {
	    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			.mz-storebranding {
				.mz-logo {
					background: url("../resources/images/ancap-logo-black.png") left top no-repeat;
					background-size: contain;
				}
			}
			.mz-utilitynav {
				margin-top: 24px;
				.mz-utilitynav-item {
					.mz-utilitynav-link {
						color: #000;
						.fa {
						    color: #000;
						    font-size: 14px;
						}
					}
				}
			}
		}
		.mz-sitenav {
			.mz-sitenav-item {
				.mz-sitenav-link {
				    color: #000;
				}
				&:hover {
					>.mz-sitenav-link {
					    border-bottom: 2px solid #000;
					}
				}
			}
		}
	}
}
.mz-homepage {
	.mz-sticky-header {
		background: transparent;
		.mz-header-bottom {
			.mz-storebranding {
				.mz-logo {
					background: url("../resources/images/ancap-logo-white.png") left top no-repeat;
					background-size: contain;
				}
			}
		}
		.mz-sitenav {
		    .mz-sitenav-item {
		    	.mz-sitenav-link {
		    		border-bottom: 2px solid transparent;
		    		color: #fff;
		    	}
		    	&:hover {
		    		>.mz-sitenav-link {
					    border-bottom: 2px solid #fff;
					}
				}
		    }
		}
		.mz-utilitynav {
			.mz-utilitynav-link {
			    color: #fff;
			    .fa {
				    color: #fff;
				}
			}
		}
		&.fixed {
		    background: #fff;
		    .mz-header-bottom {
				.mz-storebranding {
					.mz-logo {
						background: url("../resources/images/ancap-logo-black.png") left top no-repeat;
						background-size: contain;
					}
				}
			}
			.mz-sitenav {
				.mz-sitenav-item {
					.mz-sitenav-link {
					    color: #000;
					}
					&:hover {
						>.mz-sitenav-link {
						    border-bottom: 2px solid #000;
						}
					}
				}
			}
		}
	}
}
.fixed-header {
    margin-top: 0;
}
.mz-sitenav {
	.mz-sitenav-sub-container {
		background: rgba(27,22,28,0.95);
		padding: 10px 25px 35px;
		.mz-sitenav-all-categories {
			padding: 0;
			.mz-sitenav-sub {
			    background: transparent;
			    margin-top: 20px;
			    .mz-sitenav-item {
			    	margin: 0;
					.mz-sitenav-link {
						&.sub-link {
							border-bottom: 1px solid rgba(255,255,255,0.3);
							color: #fff;
    						display: inline-block;
							font-size: 11px;
							font-weight: 600;
							margin-bottom: 15px;
						}
					}
					.mz-sitenav-sub-sub {
						.mz-sitenav-item {
							.mz-sitenav-link {
								color: #c8c8c8;
								font-size: 11px;
							}
						}
					}
				}
			}
		}
	}
}

#searchPopup {
	background: #fff;
	.modal-dialog {
	    width: 100%;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	}
	.modal-content {
		border: none;
	    border-radius: 0;
	    -webkit-box-shadow: none;
    	box-shadow: none;
	    min-height: 100%;
	    padding: 50px 60px;
	}
	button {
		&.close {
		    position: absolute;
		    top: 20px;
		    right: 20px;
		}
	}
	.mz-searchbox {
		.mz-searchbox-field {
		    border: none;
		    border-bottom: 2px solid #000;
		    display: block;
		    height: auto;
		    .twitter-typeahead {
			    display: block !important;
			}
		}
		.mz-searchbox-button {
		    display: none;
		}
		.mz-searchbox-input {
			font-size: 30px;
			width: 100%;
			height: auto;
			line-height: 40px;
			padding: 20px 2px;
		}
		.tt-dataset-terms, 
		.tt-dataset-categories {
		    display: none;
		}
		.tt-dropdown-menu {
		    border: none;
		    margin-top: 5px;
		    width: 100%;
		}
		.tt-dataset-pages {
		    float: none;
		    border-left: none;
		    width: 100%;
		    .tt-suggestions {
		    	p {
				    display: none;
				}
		    	.tt-suggestion {
				    width: 50%;
				    .mz-itemlisting {
				    	.mz-itemlisting-thumb {
				    		float: left;
						    width: 30%;
						    margin-right: 30px;
						}
						.mz-itemlisting-details {
							.mz-itemlisting-title {
							    font-size: 20px;
							    font-weight: 400;
							    color: #000;
							}
						}
					}
					&:nth-of-type(3n+2) {
					    margin-right: 0;
					    margin-left: 0;
					}
				}
			}
		}
	}
}

.mz-pagefooter {
    background: #fff;
    .fa {
	    color: #9a9a9a;
	    font-size: 26px;
	    line-height: 1.1;
	}
    .mz-footer-top {
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    padding: 120px 0;
	    text-align: center;
	    ul {
	    	li {
	    		display: inline-block;
	    		float: left;
    			width: 33.33%;
	    	}
	    }
	    h6 {
		    font-size: 13px;
		    letter-spacing: 1px;
		    line-height: 20px;
		    margin: 30px 0;
		}
	}
	.mz-footer-bottom {
		background: #f5f5f5;
		border-top: none;
		padding: 142px 0;
		text-align: center;
		.mz-footer-nav {
			display: inline-block;
		}
		ul {
			li {
				display: inline-block;
				padding: 0 22px;
				a {
					color: #000;
					display: inline-block;
					line-height: 26px;
					text-transform: capitalize;
					&:hover {
						color: #575757;
						text-decoration: none;
					}
				}
			}
		}
		.mz-social-icon {
			display: inline-block;
		}
	}
	.mz-pagefooter-copyright {
	    background: #252525;
	    color: #888888;
	    font-size: 11px;
	    padding: 22px 45px;
	    text-transform: uppercase;
	}
}


#mz-home-slider {
	.slider {
		.mz-slide-details {
			width: 1183px;
			right: 0;
		    bottom: 79px;
		    left: 0;
		    text-align: left;
			text-transform: uppercase;
			h2 {
			    font-size: 14px;
			    font-weight: 300;
			    letter-spacing: 5px;
			    margin-bottom: 30px;
			}
			p {
			    font-size: 22px;
			    letter-spacing: 4px;
			    margin-bottom: 50px;
			}
			.mz-button {
			    background: transparent;
			    border: 2px solid #fff;
			    font-size: 18px;
			    letter-spacing: 3px;
			    line-height: 23px;
			    padding: 18px 35px;
			    text-transform: uppercase;
			    &:hover {
			    	background: #fff;
			    	border: 2px solid #fff;
			    	color: #000;
			    }
			}
		}
	}
}


.mz-features-container {
	padding: 120px 0;
	h3 {
		color: @goldenColor;
		font-size: 24px;
		font-weight: bold;
		margin: 0 0 20px;
		text-align: center;
		text-transform: uppercase;
	}
}

/*** Home Page Gallery and Custom ***/
.mz-grid-gallery {
	border-top: 1px solid #e5e5e5;
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: 24.98%;
		vertical-align: top;
		text-align: center;
		transition: all 0.3s ease 0s;
		.mz-gallery-img {
			a {
				display: block;
			}
			&:hover {
			    background: #000;
			    a {
				    -webkit-transition: all .3s ease;
				       -moz-transition: all .3s ease;
				            transition: all .3s ease;
				    opacity: 0.85;
				}
			    img {
				    transform: scale(1.1,1.1);
				    transition: all 0.5s;
				}
			}
		}
	}
	.mz-title {
	    font-size: 13px;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    position: absolute;
	    width: 100%;
	    bottom: 40px;
	}
}

.mz-custom-work {
	padding: 120px 0;
	h2 {
		color: @goldenColor;
	    font-size: 52px;
	    font-weight: 600;
	    margin: 0 0 75px;
	    text-align: center;
	}
	li {
		.mz-gallery-img {
			&:hover {
			    background: #000;
			    -webkit-transition: all 0.3s ease 0s;
			   	   -moz-transition: all 0.3s ease 0s;
			            transition: all 0.3s ease 0s;
			    a {
				    -webkit-transition: all .3s ease;
				       -moz-transition: all .3s ease;
				            transition: all .3s ease;
				    opacity: 0.5;
				}
			    img {
				    transform: scale(1,1);
				    cursor: url("../resources/images/icon-zoom-white.png"), pointer;
				}
				+ .mz-title {
					background: #fff;
				    position: absolute;
				    bottom: -34px;
    				-webkit-transition: all .3s ease;
    				   -moz-transition: all .3s ease;
				    		transition: all .3s ease;
				}
			}
		}
	}
	&.mz-grid-gallery {
		.mz-title {
		    position: static;
		    padding: 40px 15px 30px;
		}
	}
}
.mz-ancap-btn {
	background: #fff;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 25px auto 0;
    padding: 18px 35px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
    	background: #000;
    	color: #fff;
    	text-decoration: none;
    }
}
   

/***\ Home Page Gallery and Custom***/


.mz-title-breadcrumbs {
    float: left;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 80px 0;
    margin-top: 25px;
    .mz-category-name {
    	p {
    		font-size: 14px;
    		letter-spacing: 1px;
    		margin: 0;
    	}
    }
    .separator-line {
    	background: #fff;
    	width: 30px;
    	height: 2px;
    	margin-top: 20px;
    	-webkit-transition: width 1s;
    				transition: width 1s;
    }
    &:hover {
    	.separator-line {
    		width: 80px;
    	}
    }
}


.mz-category {
    .mz-productlist-tiled {
        .mz-productlist-item {
            min-height: 310px; 
        }
    }
    .mz-productlisting-info {
		.mz-new-arrival-tag,
		.mz-quick-view,
		#product-rating,
		.mz-button,
		.mz-product-msg {
			display: none;
	    	opacity: 0;
		}
		.see-price-in-cart {
			display: none!important;
		}
	}
}

/*** About Us ***/
.mz-aboutus {
	.mz-l-pagecontent {
		&.container {
			width: 100%;
			max-width: 100%;  
		}
	}
}
.mz-aboutus-banner {
	background-image: url("https://ancap-usa.com/sites/ancap-usa.com/files/ancap-vineyard.jpg");
	background-position: center center;
    background-size: cover;
    padding: 120px 0;
	.mz-aboutus-title {
		color: #000;
		border: 2px solid #6d6d6d;
		padding: 20px;
		font-weight: 400; 
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			&.mz-us {
				font-size: 50px;
				font-weight: 700;
				line-height: 40px;
			}
		}
	}
}
.mz-aboutus-container {
	max-width: 768px;
	margin: 0 auto;
	padding: 120px 0;
	.mz-product-tabs {
		.nav {
			&.nav-tabs {
			    border-bottom: 1px solid #ccc;
			    height: 70px;
			    margin-bottom: 30px;
			}
		}
	}
	.mz-address {
		color: #7f7f7f;
		font-size: 14px;
		letter-spacing: 2px;
		line-height: 24px;
		text-transform: uppercase;
		.fa {
			font-size: 18px;
			margin-right: 4px;
			width: 20px;
			text-align: center;
		}
		a {
			color: #000;
			&:hover {
				color: #575757;
				text-decoration: none;
			}
		}
	}
	.mz-aboutus-desc {
		color: #ababab;
		font-size: 14px;
		line-height: 26px;
	}
}
/***\ About Us ***/
