.shop-now-widget {
    position: relative;
    .mz-image-container {
       
    }
    .mz-title {
        color: #fff;
        font-size: 118px;
        font-weight: 600;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        text-align: center;
        text-transform: uppercase;
        transform: translateY(-50%);
        z-index: 2
    }
    .mz-image-overlay {
        display: none;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    &:hover {
        .mz-image-overlay {
            display: block;
        }
    }
}